# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
scrape_images.py
get_campaign_imgs.py
campaign_images_map.json
campaign_imgs.json
scratch/
find_all_service_tile_imgs_on_site.py
download_original_service_tile_images.py
download_all_service_videos.py
download_outdoor_images.py
download_activations_images.py
download_service_videos.py
download_all_8_campaign_pages_clean.py
scrape_all_campaign_real_images.py
fetch_winter_carnival.py

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
